*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; 
    color: #ffffff;
}
.container{
    height: 30rem;
    width: 21rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    border-radius: 15px;
    background-color: aqua;
    /* background-image: url(https://wallpapers.com/images/featured/whatsapp-chat-rmzlyx15fhausbaf.jpg); */
    /* background-image: url(https://wallpapers.com/images/hd/emoticons-and-symbols-whatsapp-chat-81z2ulpylfyqalb3.jpg); */
    /* background-image: url(https://wallpapers.com/images/featured/whatsapp-chat-rmzlyx15fhausbaf.jpg); */
    background-image: url(image/whatsapp-chat-rmzlyx15fhausbaf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}


h2{
    text-align: center;
    background-color: #000000;
    border-radius: 4px;
}

.input{
    width: 20rem;
    display: flex;
}

textarea{
    height: 3rem;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
    padding: 10px 15px;
    overflow-y: scroll;
    color: #fff;
    scrollbar-width: none;
    background-color: #000000;
    border: 2px solid #fff;
}

#done{
    background-color: #000000;
    border-radius: 0px 20px 20px 0px;
    width: 3rem;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;

}


/* main chat  */

.main{
    height: 66vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.outgoing-chat{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.outgoing-chat li{
    background-color: #000000;
    list-style: none;
    padding: 10px;
    margin: 3px;
    border-radius: 20px 20px 0px 20px;
}

.incoming-chat li{
    background-color: #ffbf00;
    list-style: none;
    color: #000;
    font-weight: 500;
    padding: 10px;
    margin: 3px;
    border-radius: 0px 10px 10px 10px;
}

.incoming-chat{
    display: flex;
    align-items: start;
    flex-direction: column;
}

img{
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
}

.Hacker{
    display: flex;
}

